<div class="header-container">
    <img id="hamburger-image" src="assets/img/burger.png" alt="Burger image.">
    <header>Eat-Da-Burger!</header>
</div>

<div class="main-container">
    <section id="available-hamburgers">
        <ul id="burger-list">
          <h2>AVAILABLE BURGERS</h2>
            {{#each burger}}
            {{#unless this.devoured}}
            <li class="available-burger">
                <span class="burgers">
                    {{this.id}}
                    {{this.burger_name}}
                </span>
                <span id="devour-button">
                    {{!-- <input type="hidden" name="devoured" value="true"> --}}
                    <button class="devour-button" type="submit" data-newdevour="{{this.id}}"> Devour it!</button>
                    </form>
                </span>
            </li>
            {{/unless}}
            {{/each}}
        </ul>
    </section>
    <section id="devoured-hamburgers">
      <h2>DEVOURED BURGERS</h2>
    <ul>
      {{#each burger}}
        {{#if this.devoured}}
          <li class="devour-burger">
            {{this.id}}
            {{this.burger_name}}
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </section>