<div class="header-container">
  <img id="hamburger-image" src="assets/img/burger.png" alt="Burger image.">
  <header>Eat-Da-Burger!</header>
</div>

<div class="main-container">

  {{!-- Show the available burgers --}}
  <section id="available-hamburgers">
    <ul id="burger-list">
      <h2>AVAILABLE BURGERS</h2>
      {{#each burger}}
      {{#unless this.devoured}}
      <li class="available-burger">
        <span class="burgers">
          {{this.id}}
          {{this.burger_name}}
        </span>
        <span id="devour-button">
          <button class="devour-button" type="submit" data-newdevour="{{this.id}}"> Devour it!</button>
          </form>
        </span>
      </li>
      {{/unless}}
      {{/each}}
    </ul>
  </section>

  {{!-- show the devoured burgers --}}
  <section id="devoured-hamburgers">
    <h2>DEVOURED BURGERS</h2>
    <ul>
      {{#each burger}}
      {{#if this.devoured}}
      <li class="devour-burger">
        {{this.id}}
        {{this.burger_name}}
      </li>
      {{/if}}
      {{/each}}
    </ul>
  </section>

  {{!-- ADD A BURGER to the table burgers--}}
  <section id="burger-submit">
    <form class="create-form">

        <label class="label" for="burger">Burger Name:</label>
        <input type="text" id="burger" name="name" class="input">
    

      <button class="add-burger" type="submit ">Add Burger</button>
    </form>
  </section>